*init.sh
.terraform.tfstate.lock.info
.terraform.d/*
.terraform/providers/*
**/.terraform.lock.hcl
.terraform.lock.hcl
.terraform.tfstate.*
local.tfvars
*.plan
terraform.tfstate.*
terraform.tfstate
.terraform.tfstate.*
terraform_*.log
